@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --light-color: #fff;
  --dark-color: #282828;
  --header-height: 70px;
  --search-height: 50px;
  --border-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html, body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--light-color);
  scrollbar-width: thin;
  scrollbar-color: #817171 #ccc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
}

header {
  height: var(--header-height);
  background: rgb(54, 119, 129);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  gap: 10px;
  padding: 0 20px;
  width: 100%;
  font-size: 30px;
}

header h2 {
  margin: 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: var(--search-height);
  gap: 15px;
  margin: 10px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.search input[type="text"] {
  padding: 5px 10px;
  line-height: 1.5;
  font-size: 1.2rem;
  border: 1px solid var(--border-color);
  outline: none;
  transition: all 200ms ease-in-out;
  background: transparent;
  color: var(--dark-color);
}

.search input[type="text"]:focus {
  width: 51%;
}

.btn {
  padding: 8px 10px;
  background: var(--light-color);
  border-radius: 2px;
  user-select: none;
  font-size: 1.2rem;
  border: 1px solid #007bff;
  cursor: pointer;
  color: var(--dark-color);
}

.btn:hover {
  background: #007bff;
  border-color: var(--dark-color);
  color: var(--light-color);
}

#recipe-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.recipe {
  height: 420px;
  width: 300px;
  padding: 10px;
  box-shadow: 0px 0px 8px 2px var(--border-color);
  margin: 20px;
  transition: all 200ms ease-in-out;
  border-radius: 4px;
  background: var(--light-color);
}

.recipe-title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 1;
  margin-top: 15px;
  margin-bottom: -5px;
  text-align: center;
}

.recipe-img {
  height: 170px;
  width: calc(100% - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  margin: 80px auto;
}

.recipe-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.recipe-text {
  height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background: #ccc;
  margin-top: 20px;
  overflow: hidden;
  overflow-y: auto;
  transform: scale(0.8);
  transform-origin: top left;
}

.recipe-text ul {
  list-style-type: circle;
  list-style-position: inside;
  text-align: left;
  padding: 5px;
}

.recipe-text ul > li {
  padding: 5px;
}

.recipe:hover {
  height: 520px;
}

.recipe:hover .recipe-text {
  height: 155px;
  width: calc(100% - 20px);
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  margin-top: -60px;
  margin-left: 0;
}

::selection {
  color: var(--light-color);
  background: rgb(54, 119, 129);
}

.hide {
  display: none;
}

footer {
  background: rgb(54, 119, 129);
  width: 100%;
  padding: 10px 35px;
  color: var(--light-color);
}

/* RWD min-width 500px */
@media only screen and (min-width: 500px) {
  .recipe {
    flex: 0 0 calc(50% - 20px);
  }
}

/* RWD min-width 768px */
@media only screen and (min-width: 768px) {
  .recipe {
    flex: 0 0 calc(33.3% - 20px);
  }
}

/* RWD min-width 1200px */
@media only screen and (min-width: 1200px) {
  .recipe {
    flex: 0 0 calc(25% - 20px);
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #817171;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}
